
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/3302875.jpg);">
  <div class="container">
    <h1><strong>GRIPSx CINEMA CAVE</strong></h1>
    <p>Welcome to the best Movie database in the <strong>WORLD</strong></p>
  </div>
</div>

<br>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/3148329.jpg)">
    Action
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/911212.jpg)">
    Animation
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://wallpaperaccess.com/full/1561410.jpg)">
    Classics
  </div>
</div>

<br>
<a class="btn btn-flat d-flex justify-content-center" href="#">Create a NEW movie list!</a>
